@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.logo {
  width: 47px;
  margin: 0 auto;
  display: block;
}

h1 {
  display: inline-block;
  padding: 0;
  font-size: 1em;
  color: #ffe014;
}

.buy {
  display: block;
  margin: 0 auto;
  padding: 0.5em;
  font-size: 0.7em;
}

header div{
  padding: 1em;
  background-color: #444;
}

nav ol{
  background-color: #999;
  list-style: none;
  padding: 0.2em;
  margin: 0;
}

nav li {
  display: block;
  font-weight: normal;
  font-size: 0.7em;
  text-align: left;
  margin: 1.2em;
}

a {
  text-decoration: none;
  color: #ffe014;
  padding: 0;
  margin: 0 auto;
}

.panorama {
  position: relative;
}

figcaption {
  position: absolute;
  color: #fff;
  text-shadow: 0px 0px 30px #000;
  font-size: 0.9em;
  font-weight: bold;
  bottom: 10px;
  width: 100%;
}

figcaption p {
  font-style: italic;
  font-weight: normal;
  font-size: 0.7em;
  padding: 1em;
  color: #fff;
  margin: 0;
}

main {
  background-color: #444;
}

h2 {
  display: block;
  font-size: 1em;
  color: #ffe014;
  padding: 0.5em;
  margin-bottom: 0;
}

img {
  width: 90%;
}

.pano {
  width: 150%;
}

h3 {
  text-align: left;
  padding-left: 5%;
  font-size: 0.9em;
  color: #ffe014;
  margin-top: 0.5em;
}

dl {
  color: #fff;
  font-size: 0.8em;
  padding: 0 4% 0 4%;
}

dt {
  font-weight: bold;
  display: inline-block;
}

dd {
  display: inline;
  margin: 0;
}

span {
  display: block;
  font-size: 0.9em;
  margin: 0.5em 0 0.5em 0;
}

.learn-more {
  background-color: #999;
  display: block;
  margin: 1em auto;
  margin-bottom: 2em;
  padding: 0.5em;
  border-radius: 5px;
  font-size: 0.8em;
}

p {
  font-size: 0.8em;
  color: #fff;
  padding: 0em 0.5em 0em 0.5em;
  line-height: 1.5em;
  margin: 0;
}

div a {
  display: inline-block;
  width: 40%;
  background-color: #999;
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 5px;
  font-size: 0.8em;
  vertical-align: middle;
}

.tix {
  margin-top: 0.5em;
}

.atlantis {
  position: absolute;
}

.atla {
  width: 110%
}

.now-playing {
  position: relative;
  margin-bottom: 1.5em;
}

.mysterious {
  text-align: center;
  padding: 0 0.5em 0 0.5em;
  margin: 0;
  text-shadow: 0px 0px 20px #000;
}

figcaption a {
  margin: 0;
  font-weight: normal;
  text-shadow: none;
}

.seven-wonders {
  margin: 1em;
}

.atlantis {
  margin-bottom: 0.5em;
}

.this-week ol {
  list-style-type: none;
  padding: 0;
}

.this-week ul {
  padding-left: 1.5em;
}

ul li {
  color: #fff;
  font-size: 0.8em;
  list-style-type: none;
  text-align: left;
  padding: 0em 1em 1em 0em;
  line-height: 1.5;
}

ul {
  padding-left: 2em;
}

ol {
  margin: 0;
}

footer {
  background-color: #999;
  text-align: left;
  font-size: 0.8em;
  padding: 1em;
  line-height: 1.5;
  color: #ffe014;
}

address {
  color: #fff;
}

footer a {
  display: block;
  padding: 1em;
  background-color: #444;
  border-radius: 5px;
  margin: 1em 0em 1em 0em;
  color: #ffe014;
}

.hours, .directions {
  display: inline-block;
  padding: 1em;
  background-color: #444;
  border-radius: 5px;
  margin: 1em 1em 1em 0em;
  font-size: 1em;
  width: 45%;
}

.directions {
  margin-right: 0em;
}

footer p {
  display: block;
  font-size: 1em;
  padding: 0;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  .logo {
    float: left;
    margin: 0.5em 0em 0.5em 0em;
}

  .buy {
    float: right;
    width: 13%;
    display: inline;
    margin: 0.5em 0 0 0;
}

  nav li {
    display: inline-block;
    width: 20%;
    margin: 0.5em;
    vertical-align: middle;
    text-align: center;
}

  .atla {
    width: 100%;
  }
}

@media only screen and (min-width: 43em) {

  h1 {
    font-size: 1.5em;
    vertical-align: middle;
  }

  .logo {
    margin-top: 1em;
    margin-left: 1.5em;
  }

  .buy {
    margin-top: 1.3em;
    margin-right: 1.5em;
    width: 10%;
  }

  nav li {
    font-size: 0.8em;
  }

  .panorama figcaption {
    font-size: 110%;
  }

  h2 {
    font-size: 110%;
  }

  .panorama {
    height: 300px;
  }

  .pano {
    height: 100%;
    width: 100%;
  }

  .one {
    display: inline-block;
    width: 50%;
    float: left;
    height: 28em;
  }

  .one img {
    height: 274px;
  }

  .one a {
    margin: 1em auto;
    margin-bottom: 2em;
    width: 70%;
  }

  dl {
    font-size: 90%;
  }

  .two {
    display: block;
    width: 50%;
    margin: 0 auto;
  }

  .two a {
    margin: 1em auto;
    margin-bottom: 2em;
    width: 70%;
  }

  .tickets {
    width: 70%;
    margin: 0 auto;
  }

  .atla {
    height: 300px;
  }

  .now-playing figcaption {
    font-size: 110%;
  }

  .this-week {
    width: 70%;
    margin: 0 auto;
  }

  .address {
    display: inline-block;
    float: left;
    margin-right: 2em;
  }

  .hours, .directions {
    width: 20%;
    float: right;
    margin: 0.5em;
  }

  footer a {
    width: 17%;
    display: inline-block;
    text-align: center;
    margin: 0.5em;
  }

  .links {
    font-size: 120%;
    display: block;
    clear: both;
  }

  .links a {
    vertical-align: middle;
  }
}

@media only screen and (min-width: 60.75em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  .masthead {
    width: 35%;
    display: inline-block;
    padding-left: 0.5em;
    padding-right: 0.5em;
    float: left;
  }

  .logo {
    display: inline;
    margin: 0;
  }

  h1 {
    display: inline;
    text-align: left;
    vertical-align: middle;
    font-size: 100%;
  }

  .buy {
    vertical-align: middle;
    margin: 0 auto;
    width: 13%;
  }

  nav {
    width: 65%;
    display: inline-block;
    float: right;
  }

  nav ol {
    height: 72px;
    padding-top: 0.75em;
  }

  nav li {
    width: auto;
  }

  nav a {
    vertical-align: middle;
    margin: 0.5em 0.7em 0 0.7em;
  }

  h2 {
    font-size: 120%;
  }

  .one {
    width: 33.3%;
  }

  .two {
    width: 33.3%;
    clear: both;
  }

  .tickets p {
    max-width: 30em;
    margin: 0 auto;
  }

}
