html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.logo {
  float: left;
  width: 48px;
  margin-top: 0.5em;
}

h1 {
  display: inline-block;
  padding-right: 1em;
  font-size: 1em;
  color: #ffe014;
}

header div{
  padding: 1em;
  background-color: #444;
}

nav ol{
  background-color: #999;
  color: #777;
  list-style: none;
  padding: 0.5em;
  margin: 0;
}

nav li {
  display: inline-block;
  width: 20%;
  font-weight: normal;
  font-size: 0.2em;
  color: #ffe014;
}

.pano {
  display: block;
  width: 100%;
}

.panorama {
  position: relative;
}

figcaption {
  position: absolute;
  color: #fff;
  text-shadow: 0px 0px 20px #000;
  font-size: 0.8em;
  font-weight: bold;
  bottom: 20px;
  width: 100%;
}

figcaption p {
  font-style: italic;
  font-weight: normal;
  font-size: 0.8em;
  padding: 1em;
  color: #fff;
  margin: 0;
}
