html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.logo {
  float: left;
  width: 48px;
  margin-top: 0.5em;
}

h1 {
  display: inline-block;
  padding-right: 1em;
  font-size: 1em;
  color: #ffe014;
}

header div{
  padding: 1em;
  background-color: #444;
}

nav ol{
  background-color: #999;
  list-style: none;
  padding: 0.2em;
  margin: 0;
}

nav li {
  display: inline-block;
  width: 20%;
  font-weight: normal;
  font-size: 0.7em;
  color: #ffe014;
  margin: 0.5em;
}

img {
  width: 100%;
}

.panorama {
  position: relative;
}

figcaption {
  position: absolute;
  color: #fff;
  text-shadow: 0px 0px 30px #000;
  font-size: 0.9em;
  font-weight: bold;
  bottom: 10px;
  width: 100%;
}

figcaption p {
  font-style: italic;
  font-weight: normal;
  font-size: 0.7em;
  padding: 1em;
  color: #fff;
  margin: 0;
}

main {
  background-color: #444;
}

h2 {
  display: inline-block;
  font-size: 1em;
  color: #ffe014;
  padding: 0.5em;
}

.giza {
  width: 90%;
}

h3 {
  text-align: left;
  padding-left: 5%;
  font-size: 0.9em;
  color: #ffe014;
}

dl {
  color: #fff;
  font-size: 0.8em;
  padding-left: 5%;
}

dt {
  font-weight: bold;
  display: inline-block;
}

dd {
  display: inline;
  margin: 0;
}

span {
  display: inline-block;
  width: 30%;
}

.learn-more {
  background-color: #999;
  display: block;
  margin: 1em;
  padding: 0.5em;
  border-radius: 5px;
  font-size: 0.8em;
}

p {
  font-size: 0.8em;
  color: #fff;
  padding: 0em 2em 2em 2em;
  line-height: 1.5em;
  margin-top: 0;
}

div a {
  display: inline-block;
  width: 50%; 
}












.atla {
  position: absolute;
}

.atlantis {
  position: relative;
  display: block;
}
